* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  --default-font: #525252;
  --primary_0: #14b69e;
  --secondary_0: #daf22a;
  --tertiary_0: #3f277b;
}

body {
  color: rgb(var(--default-font));
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}
